@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pacifico', cursive;
    background-color: #E7D9D9;
}
nav{
    display: block;
    text-align: center;
}
nav a{
    padding: 25px 25px;
    font-size: 20px;
    text-decoration: none;
    color: palevioletred;
}
nav a:hover{
    color:  rgb(218, 79, 79);
}
.flex-container{
    display: flex;
}
.text{
    width: 50%;
    height: auto;
    padding-left: 10mm;
    padding-right: 10mm;
    color: rgb(218, 79, 79);
}
.flex-item img{
    width: 70%;
    height: auto;
    margin-left: 10%;
    padding-top: 20%;
    padding-bottom: 10%;
    border-radius: 40%;
    background-size: cover;
}
h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
    color:  rgb(218, 79, 79);
}
button{
    padding: 20px;
    border-radius: 40px;
    margin-top: 100px;
    background-color: rgb(218, 79, 79);
    border: none;
    font-size: 15px;
    margin-left: 300px;
}
button a{
    text-decoration: none;
    color: #E7D9D9;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
h2{
    margin-bottom: 7mm;
}
h3{
    margin-bottom: 10mm;
}
p{
    margin-bottom: 15px;
}