@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pacifico', cursive;
}
nav{
    display: block;
    text-align: center;
}
nav a{
    padding: 25px 25px;
    font-size: 20px;
    text-decoration: none;
    color: palevioletred;
}
nav a:hover{
    color:  rgb(218, 79, 79);
}
.contact{
    color:  rgb(218, 79, 79);
}
.container{
    direction: center;
    margin-top: 20px;
}